body {
    background-color: rgba(0, 0, 0, 0.391);
}
.chessboard {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    width: 700px; /* Adjust this for larger size */
    height: 700px; /* Adjust this for larger size */
    border: 5px solid white;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.light {
    background-color: #eeeed2;
}

.dark {
    background-color: #769656;
}

img {
    width: 90%;
    height: 90%;
}

.selected {
    outline: 4px solid red; /* Highlight the selected piece */
    box-shadow: 0 0 10px red;
}
